
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcyan;
}

.body-error{
    background-image: url("../img/fondo-mobile.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-inicio{
    list-style: none;
    text-decoration: none;
    color: violet;
    display: flex;
    align-items: center;
    justify-content:center;
    justify-content: space-around;
}

header{
    background-color:  rgb(245, 214, 241);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.img-header{
    width: 160px ;
    height: 75px;
}

.ul-nav{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.barra-busqueda{
    display: none;
}

.li-nav{
    margin: 12px;
}

.lista{
    list-style: none;
    text-decoration: none;
    color: violet;
    border-radius: 5px;
    overflow: hidden;
    background-color:blanchedalmond;
    padding: 1px;
}

.main-index{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1;
}

.img-carrousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.producto-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:1/2 ;
    grid-row: 2;
    padding: 20px;
}

.producto-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:2/3 ;
    grid-row: 2;
    padding: 20px;
}

.producto-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:1/2 ;
    grid-row: 4;
    padding: 20px;
}

.producto-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:2/3 ;
    grid-row: 4;
    padding: 20px;
}

.img-index{
    border: solid black 2px;
    width: 60%;
}

.txt-index{
    font-size: x-small;
    display: flex;
    text-align: center;
}

.visitar-index{
    list-style: none;
    text-decoration: none;
    color: violet;
    margin: 5px;
    background-color:blanchedalmond;
    padding: 2px;
    border-radius: 5px;
    font-size: x-small;
}

.publicidad{
    display: flex;
    grid-column: 1/3;
    grid-row: 5/6;
    justify-content: center;
    margin: 15px;
}

.img-publicidad{
    width: 80%;
}

footer{
    background-color: rgb(245, 214, 241);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.img-footer{
    width: 160px ;
    height: 75px;
    grid-column:2/ 3 ;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lista-redes{
    list-style: none;
    text-decoration: none;
    color: violet;
    margin: 5px;
    background-color:blanchedalmond;
    padding: 4px;
    border-radius: 5px;
    overflow: hidden;
}

.redes-sociales{
    grid-column: 1 /4;
    grid-row: 4;
    justify-content: space-around;
    display: flex;
}

.contacto{
    list-style: none;
    text-decoration: none;
    color: violet;
    grid-column: 2 /4;
    grid-row: 6;
}

.main-tortas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.main-croissant{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.main-sanguches{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.main-macarrons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.section-1{
    display: flex;
    grid-column: 1/4;
    grid-row: 1;
    padding: 30px;
    gap: 30px;
    align-items: center;
    line-height: 40px;
    font-size: larger;
    background-color: blanchedalmond;
}

.section-2{
    display: flex;
    grid-column: 1/4;
    grid-row: 2;
    padding: 30px;
    gap: 30px;
    align-items: center;
    line-height: 40px;
    font-size: larger;
    background-color: blanchedalmond;
}

.section-3{
    display: flex;
    grid-column: 1/4;
    grid-row: 3;
    padding: 30px;
    gap: 30px;
    align-items: center;
    line-height: 40px;
    font-size: larger;
    background-color: blanchedalmond;
}

.section-4{
    display: flex;
    grid-column: 1/4;
    grid-row: 4;
    padding: 30px;
    gap: 30px;
    align-items: center;
    line-height: 40px;
    font-size: larger;
    background-color: blanchedalmond;
}

.quienes-somos{
    list-style: none;
    text-decoration: none;
    color: violet;
    grid-column: 2 /3;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.derechos{
    color: rgba(0, 0, 0, 0.274);
    grid-column: 1 /4;
    grid-row: 5/ 6;
}

.main-contacto{
    display: block;
}

.h2-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: blanchedalmond;
    color: violet;
    border-radius: 10px;
    padding: 5px;
}

.lista-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:60px;
    padding: 10px;
}

.boton-contacto{
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-error{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 235, 205, 0.959);
    border-radius:10px ;
    padding: 10px;
}

.boton-error{
    list-style: none;
    color: black;
    font-size: larger;
}

.main-quienes-somos{
    padding: 50px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-quienes-somos{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

.img-quienes-somos{
    border: 3px rgb(245, 214, 241) solid;
    width: 275px;
    height: 200px;
    margin: 10px;
}

.img2-quienes-somos{
    border: 3px rgb(245, 214, 241) solid;
    width: 275px;
    height: 200px;
    margin: 10px;
}

.txt-quienes-somos{
    font-size: larger;
    line-height: 40px;
}

/*=========================================================================================================================*/
@media (min-width:600px) and (max-width:1200px){
    
      
header{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px, 8vh);
}

.img-header{
    width: 220px ;
    height: 100px;
}

.barra-busqueda{
    display: flex;
    justify-content: center;
}

.lista{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.lista-nav{
    grid-column: span 2;
}

.ul-nav{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(245, 214, 241);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.redes-sociales{
    grid-column: 4 /5;
    grid-row: 1/4;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lista-redes{
    width: 100px;
    text-align: center;
}

.contacto{
    list-style: none;
    text-decoration: none;
    color: violet;
    grid-column: 2/ 4 ;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes-somos{
    list-style: none;
    text-decoration: none;
    color: violet;
    grid-column: 2 /4;
    grid-row:  2;
}

.img-footer{
    width: 160px ;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1/ 3;
    grid-row: 2;
}

.derechos{
    color: rgba(0, 0, 0, 0.274);
    grid-column: 1 /5;
    grid-row: 4/ 5;
}

.txt-quienes-somos{
    font-size: x-large;
    line-height: 45px;
}

}

/*=========================================================================================================================*/
@media (min-width:1201px){

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* display:grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-rows: minmax(100px, 8vh); */
    }

    .barra-busqueda{
        display: flex;
        flex-direction: row;
    }

    footer{
        background-color: rgb(245, 214, 241);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
    
    .redes-sociales{
        grid-column: 4 /5;
        grid-row: 1/4;
        justify-content: end;
        align-items: center;
        display: flex;
    }
    
    .lista-redes{
        width: 100px;
        text-align: center;
    }
    
    .contacto{
        list-style: none;
        text-decoration: none;
        color: violet;
        grid-column: 3/ 4 ;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .quienes-somos{
        list-style: none;
        text-decoration: none;
        color: violet;
        grid-column: 2 /3;
        grid-row:  2;
    }
    
    .img-footer{
        width: 160px ;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-column: 1/ 3;
        grid-row: 2;
    }
    
    .derechos{
        color: rgba(0, 0, 0, 0.274);
        grid-column: 1 /5;
        grid-row: 4/ 5;
    }

    .txt-quienes-somos{
        font-size: x-large;
        line-height: 60px;
    }


}