.main-error{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 235, 205, 0.959);
    border-radius:10px ;
    padding: 10px;
    .boton-error{
        list-style: none;
        color: black;
        font-size: larger;
    }
}

/*=========================================================================================================================*/
@media (min-width:600px) and (max-width:1200px){
    
}