@keyframes CambioColor {
    from{
        color:blanchedalmond;
    }

    to{
        color:violet;
    }
}

@keyframes CambioColortxt {
    from{
        color:blanchedalmond ;
    }

    to{
        color: black;
    }
}
